.centre{
	margin: auto;
	width: 50%;
	padding 10px;
	line-height: 1.6;
}

.image-width{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 448px;
	height: 597px;
}

.image-width2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 500px;
}
